.success {
    height:300px;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 35%;
}

.message {
    display: grid;
    padding: 24px;
    margin: 32px;
    border: 50px solid #e5e0e0ea;
    border-radius: 8px;
}

.icon {
    margin: 4;
    width: 50px;
    height: 50px;
}

h1 {
    width: 50px;
    display: flex;
    font-size: 48px;
}

p {
    font-size: 18px;
    margin-bottom: 32px;
}

.btn {
    margin-bottom: 8px;
    border-radius: 8px;
    height: 48px;
    padding: 4px;
    border: 2px solid #000;
    background-color: hsl(4, 100%, 67%);
}

.btn:hover {
    cursor: pointer;
}